services:
  app:
    build: .
    container_name: iron-gate-app
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL}
      - SPRING_DATASOURCE_USERNAME=${SPRING_DATASOURCE_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRY_IN_MILLISECOND=${JWT_EXPIRY_IN_MILLISECOND}
      - JWT_ISSUER=${JWT_ISSUER}
    depends_on:
      - db
    networks:
      - app-network
    restart: always

  db:
    image: postgres:14-alpine
    container_name: iron-gate-db
    environment:
      - POSTGRES_DB=iron_gate
      - POSTGRES_USER=${SPRING_DATASOURCE_USERNAME}
      - POSTGRES_PASSWORD=${SPRING_DATASOURCE_PASSWORD}
    ports:
      - "127.0.0.1:5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    restart: always

  loki:
    image: grafana/loki:2.9.2
    container_name: loki
    command: -config.file=/etc/loki/local-config.yml
    volumes:
      - ./docker/loki/loki-config.yml:/etc/loki/local-config.yml
    networks:
      - app-network
    restart: always

  promtail:
    image: grafana/promtail:2.9.2
    container_name: promtail
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers
      - /var/run/docker.sock:/var/run/docker.sock
      - ./docker/promtail/promtail-config.yml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki
    networks:
      - app-network
    restart: always

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - app-network
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
    volumes:
      - ./docker/grafana/provisioning/datasources/datasources.yml:/etc/grafana/provisioning/datasources/datasources.yml
    depends_on:
      - prometheus
      - loki
    networks:
      - app-network
    restart: always

  ddns:
    image: favonia/cloudflare-ddns:latest
    container_name: iron-gate-ddns
    environment:
      - API_TOKEN=${CF_API_TOKEN}
      - DOMAINS=gloomyafternoon.xyz
      - PROXIED=true
      - IP6_PROVIDER=none
    restart: always

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
